<!doctype html>
<html>
<head>
  <title>Electron Calendar</title>

  <link rel="stylesheet" href="assets/styles/photon.css">
  <link rel="stylesheet" href="assets/styles/style.css">

  <script>var electronRequire = require</script>
  <script type="text/javascript" src="assets/scripts/calendar.js"></script>
</head>
<body>

<div class="window calendar">

  <!-- Start the header -->
  <header>
    <div id="btn-close" class="btn-close">
      <span class="icon icon-cancel"></span>
    </div>
    <div id="btn-open-settings" class="btn-open-settings">
      <span class="icon icon-cog"></span>
    </div>
  </header>
  <!-- End the header -->

  <section class="month-navigation">
    <div id="month-label" class="current-month">Month</div>
    <div id="year-label" class="current-year">Year</div>

    <div class="buttons">
      <div id="btn-navigate-prev-month" class="icon-container">
        <span class="icon icon-left-open"></span>
      </div>
      <div id="btn-navigate-current-month" class="icon-container">
        <span class="icon icon-dot"></span>
      </div>
      <div id="btn-navigate-next-month" class="icon-container">
        <span class="icon icon-right-open"></span>
      </div>
    </div>
  </section>

  <!-- Start main content -->
  <div class="window-content">

    <div id="calendar-view"></div>

  </div>
  <!-- End main content -->

</div>

</body>
</html>
