<!doctype html>
<html>
<head>
  <title>Electron Calendar</title>

  <link rel="stylesheet" href="assets/styles/photon.css">
  <link rel="stylesheet" href="assets/styles/style.css">

  <script>var electronRequire = require;</script>
  <script type="text/javascript" src="assets/scripts/settings.js"></script>
</head>
<body>

<div class="window settings">

  <!-- Start the header -->
  <header class="toolbar toolbar-header">
    <h1 class="title">Electron Calendar Settings</h1>
  </header>
  <!-- End the header -->

  <!-- Start main content -->
  <div class="window-content">

  <div class="pane padded">

      <div class="form-group">
        <label>Date format</label>
        <input id="input-date-format" type="text" class="form-control" placeholder="MMMM Do YYYY, h:mm:ss a" />
      </div>

      <div class="form-group">
      <label id="output-date-format">Preview: <span>MMMM Do YYYY, h:mm:ss a</span></label>
      </div>

      <div class="checkbox">
        <label>
          <input id="check-always-on-top" type="checkbox" checked />
          Keep calendar window always on top
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input id="check-launch-on-startup" type="checkbox" checked />
          Launch Electron Calendar at startup
        </label>
      </div>

      <div class="form-group">
        <label>Global Keyboard Shortcut</label>

        <div class="global-keyboard-shortcut">
          <div class="global-keyboard-shortcut-modifiers-container">
            <!-- Button group for modifier keys -->
            <div class="btn-group">
              <button class="btn btn-default" id="btn-shortcut-modifier-alt">
                &#x2387;
              </button>
              <button class="btn btn-default" id="btn-shortcut-modifier-command">
                &#x2318;
              </button>
              <button class="btn btn-default" id="btn-shortcut-modifier-control">
                &#8963;
              </button>
              <button class="btn btn-default" id="btn-shortcut-modifier-shift">
                &#8679;
              </button>
            </div>
            <!-- End button group for modifier keys -->
          </div>

          <div class="global-keyboard-shortcut-keys-container">
            <input id="input-global-shortcut-keys" type="text" class="form-control" placeholder="1" />
          </div>
        </div>

      </div>

      <div class="form-group">
        <label>
          <input id="check-window-transparency" type="checkbox" />
          Window transparency
        </label>
        <input disabled id="input-window-transparency" type="range" min="10" max="100" step="1" value="100" class="form-control" />
      </div>


  </div>

  </div>
  <!-- End main content -->

  <!-- Start the footer -->
  <footer class="toolbar toolbar-footer">
    <div class="toolbar-actions text-center">

      <button class="btn btn-default pull-right" id="btn-settings-okay">
        Okay
      </button>

    </div>
  </footer>
  <!-- End the footer -->


</div>

</body>
</html>
